#dropdown-menu-2btn-0 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-0 .nav .link,
#dropdown-menu-2btn-0 .dropdown-item {
  font-size: 1.2em;
  color: #ffffff;
}
#dropdown-menu-2btn-0 .navbar,
#dropdown-menu-2btn-0 .dropdown-menu {
  background: #dddddd;
}
#dropdown-menu-2btn-0 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-0 .dropdown-menu a:hover,
#dropdown-menu-2btn-0 .dropdown-menu a:focus {
  background: #d3d3d3;
}
#dropdown-menu-2btn-0 .navbar-toggler {
  color: #ffffff;
}
#dropdown-menu-2btn-0 .btn {
  font-size: 17px;
}
#header1-1 H1 {
  color: #ffffff;
}
#features1-3 P {
  text-align: left;
}
#msg-box2-n H2 {
  color: #ffffff;
}
#features1-s P {
  text-align: center;
}
#dropdown-menu-2btn-v .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-v .nav .link,
#dropdown-menu-2btn-v .dropdown-item {
  font-size: 1.2em;
  color: #ffffff;
}
#dropdown-menu-2btn-v .navbar,
#dropdown-menu-2btn-v .dropdown-menu {
  background: #dddddd;
}
#dropdown-menu-2btn-v .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-v .dropdown-menu a:hover,
#dropdown-menu-2btn-v .dropdown-menu a:focus {
  background: #d3d3d3;
}
#dropdown-menu-2btn-v .navbar-toggler {
  color: #ffffff;
}
#dropdown-menu-2btn-v .btn {
  font-size: 17px;
}
#slider-b H2 {
  color: #ffffff;
  text-align: center;
  font-size: 80px;
}
#slider-b B {
  color: #ffffff;
}
#dropdown-menu-2btn-9 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-9 .nav .link,
#dropdown-menu-2btn-9 .dropdown-item {
  font-size: 1.2em;
  color: #ffffff;
}
#dropdown-menu-2btn-9 .navbar,
#dropdown-menu-2btn-9 .dropdown-menu {
  background: #dddddd;
}
#dropdown-menu-2btn-9 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-9 .dropdown-menu a:hover,
#dropdown-menu-2btn-9 .dropdown-menu a:focus {
  background: #d3d3d3;
}
#dropdown-menu-2btn-9 .navbar-toggler {
  color: #ffffff;
}
#dropdown-menu-2btn-9 .btn {
  font-size: 17px;
}
#features1-1e P {
  text-align: center;
}
#dropdown-menu-2btn-1f .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-1f .nav .link,
#dropdown-menu-2btn-1f .dropdown-item {
  font-size: 1.2em;
  color: #ffffff;
}
#dropdown-menu-2btn-1f .navbar,
#dropdown-menu-2btn-1f .dropdown-menu {
  background: #dddddd;
}
#dropdown-menu-2btn-1f .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-1f .dropdown-menu a:hover,
#dropdown-menu-2btn-1f .dropdown-menu a:focus {
  background: #d3d3d3;
}
#dropdown-menu-2btn-1f .navbar-toggler {
  color: #ffffff;
}
#dropdown-menu-2btn-1f .btn {
  font-size: 17px;
}
#header1-11 H1 {
  text-align: center;
  color: #000000;
}
#slider-1a H2 {
  color: #000000;
  text-align: left;
}
#content4-1i .table {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
#features1-12 P {
  text-align: center;
}
#dropdown-menu-2btn-13 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-13 .nav .link,
#dropdown-menu-2btn-13 .dropdown-item {
  font-size: 1.2em;
  color: #ffffff;
}
#dropdown-menu-2btn-13 .navbar,
#dropdown-menu-2btn-13 .dropdown-menu {
  background: #dddddd;
}
#dropdown-menu-2btn-13 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-13 .dropdown-menu a:hover,
#dropdown-menu-2btn-13 .dropdown-menu a:focus {
  background: #d3d3d3;
}
#dropdown-menu-2btn-13 .navbar-toggler {
  color: #ffffff;
}
#dropdown-menu-2btn-13 .btn {
  font-size: 17px;
}
